<h3>Chat Room</h3>
<button id="joinroom">JoinRoom</button>
<script>

	// $window.io.connect('//localhost:5000/chat',{
	// 	query: 'email=nopunguyen@gmail.com&name=nopu&room=chat-1',
	// 	forceNew: true,
	// 	transports: ['websocket']
	// });
var socket = io();

// connect: function() {
// 	socket = $window.io.connect('//localhost:5000/chat',{
// 		query: 'email=nopunguyen@gmail.com&name=nopu&room=chat-1',
// 		forceNew: true,
// 		transports: ['websocket']
// 	});
// },


// socket.once('memberList', function(data){
// 	console.log("data");
// });

</script>